{% extends 'main/base.html' %}

{% block title %} Авторизация {% endblock %}

{% block body %}
    <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form action="/authorization" method="POST">
				<div class="group">
					<label for="log_email" class="label">Email</label>
					<input id="log_email" type="text" class="input" name="email">
				</div>
				<div class="group">
					<label for="log_password" class="label">Password</label>
					<input id="log_password" type="password" class="input" data-type="password" name="password">
				</div>
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
						<ul class=flashes>
						{% for message in messages %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					  {% endif %}
					{% endwith %}
				<div class="group">
					<input id="log_check" type="checkbox" class="check" checked>
					<label for="log_check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" name="submit_action" value="SignIn">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
				</form>
			</div>
			<div class="sign-up-htm">
				<form action="/sign-up" method="POST">
				<div class="group">
					<label for="reg_username" class="label">Username</label>
					<input id="reg_username" type="text" class="input" name="username">
				</div>
				<div class="group">
					<label for="reg_email" class="label">Email</label>
					<input id="reg_email" type="text" class="input" name="email">
				</div>
				<div class="group">
					<label for="reg_password" class="label">Password</label>
					<input id="reg_password" type="password" class="input" data-type="password" name="password">
				</div>
				<div class="group">
					<label for="reg_2password" class="label">Repeat Password</label>
					<input id="reg_2password" type="password" class="input" data-type="password" name="repeated_password">
				</div>
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
						<ul class=flashes>
						{% for message in messages %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					  {% endif %}
					{% endwith %}
				<div class="group">
					<input type="submit" class="button" name="submit_action" value="SignUp">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</label>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>
{% endblock %}