<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"><link rel="stylesheet" href="static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
    <div class="logo">logo</div>
    <nav>
        <ul>
            <li><a href="/main">Main</a></li>
            <li><a href="/p2p">P2P</a></li>
            <li><a href="/wallets">Wallet Tracking</a></li>
            <li><a href="/cryptos">List of crypto's</a></li>
            {% if current_user.is_authenticated() == True %}
                <li><a href="/account">Account</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>