{% extends 'main/base.html' %}

{% block title %}Главное меню{% endblock %}

{% block body %}
    <div class="info">
        <h1>Ваш баланс</h1>
    </div>

    <div class="balance-container">
        {% if current_user.is_authenticated() == True %}
            {% for api_name, api_data in data.items() %}
                <div class="balance-item">
                    <h3>{{ api_name }}</h3>
                    <ul>
                        {% for el in api_data %}
                            <li>{{ el }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}